#d1{width: 100px;
    height: 100px;
    background-image: url('./images/icons/1.png');
}

#d2{width: 100px;
  height: 100px;
  background-image: url('./images/icons/2.png');
}

#d3{width: 100px;
  height: 100px;
  background-image: url('./images/icons/3.png');
}
